@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #dce4ee;
    color: #64717E;
    text-align: center;
    margin: 0px auto;
}

.safe_area {
    height: 5vh;
}

.title {
    height: 20vh;
    position: relative;
}

.game_title {
    height: 10vh;
    position: relative;
    font-weight: bold;
    margin:
}

.main_name {
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn_content {
    height: 60vh;
    width: 70%;
    margin: 0px auto;
}

.long_btn {
    font-size: 25px;
    color: #64717E;
    font-weight: bold;
    width: 100%;
    height: 17%;
    margin: 24px auto 24px auto;
    border: 0px;
    border-radius: 15px;
    background: #dce4ee;
    box-shadow: 12px 12px 24px #cad2db,
    -12px -12px 24px #eef6ff;
}

.medium_btn {
    font-size: 35px;
    color: #64717E;
    font-weight: bold;
    width: 40%;
    height: 14%;
    margin: 24px auto 24px auto;
    border: 0px;
    border-radius: 15px;
    background: #dce4ee;
    box-shadow: 12px 12px 24px #cad2db,
    -12px -12px 24px #eef6ff;
}

.small_btn {
    height: 45px;
    width: 45px;
    color: #64717E;
    border: 0px;
    border-radius: 15px;
    background: #dce4ee;
    box-shadow: 12px 12px 24px #cad2db,
    -12px -12px 24px #eef6ff;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.num_btn {
    height: 20%;
    width: 30%;
    color: #64717E;
    border: 0px;
    border-radius: 15px;
    background: #dce4ee;
    box-shadow: 12px 12px 24px #cad2db,
    -12px -12px 24px #eef6ff;
    margin: 2% 1% 3% 1%;
    font-size: 30px;
    font-weight: bold;
}

#ranking {
    position: relative;
    left: -9%;
}

#setting {
    position: relative;
    right: -9%;
}

button:active {
    box-shadow: inset 12px 12px 24px #cad2db,
    inset -12px -12px 24px #eef6ff;
}

#profile {
    margin: auto;
    left: 70%;
}

#back_arrow {
    margin: auto;
    left: 12%
}

#normal {
    margin: 35px auto 35px auto;
}

#hard {
    margin: 35px auto 35px auto;
    color: #A60C21;
}

#extreme {
    margin: 35px auto 35px auto;
    color: #4D0F78;
}

#numbers {
    height: 35vh;
    margin: 0px auto;
    width: 90%;
    border-radius: 15px;
    background-color: #cad2db;
}

#keyboard_area_normal {
    margin: 0px auto;
    width: 90%;
    height: 48vh;
}

